<div class="header">
  <h1 class="ui header">Новая сделка</h1>
</div>
<div class="content">
  <form class='ui form'>
    <div class="field">
      <label>Название сделки</label>
      <input name='name' >
    </div>

    <div class="field">
      <label>Цена</label>
      <input name='price' >
    </div>
  </form>
</div>
<div class="actions">
  <div class="ui positive approve button">Создать</div>
  <div class="ui cancel button">Отмена</div>
</div>

