<button
  class='ui compact basic blue button'
>
  <i class="add to cart icon"></i>
  Создать сделку
</button>

<%
__this.Defer(function()
{
  __this.first().click(function()
  {
    __this.first().prop('disabled', true);

    phoxy.ApiRequest
    (
      [
        'plugin/amocrm/create_form',
        __this.account_id,
        __this.thread_id
      ], function()
      {
        __this.first().prop('disabled', false);
      }
    );
  });
});
%>
