<a
  class="ui image label"
  href='<%@ __this.url %>'
  target='amocrm'
  not-phoxy
  style='background-color: <%@ __this.color %>'
>
  <%@ __this.name %>
  <div class="detail">
    <%@ __this.price %>
    <%@ __this.stage %>
  </div>
</a>
